<h1>IdeaBox</h1>
<form action='/' method='POST'>
  <p>
    Your Idea:
  </p>
  <input type='text' name='idea[title]'/><br/>
  <textarea name='idea[description]'></textarea><br/>
  <input type='submit'/>
</form>

<h3>Existing Ideas</h3>

<ul>
  <% ideas.each do |idea| %>
    <li>
      <a href="/<%= idea.id %>/view"><%= idea.title %></a><br/>
      id: <%= idea.id %><br/>
      <%= idea.description %>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='hidden' name="route" value="/"/>
        <input type='submit' value="+"/>
      </form>
      <form action='/<%= idea.id %>/unlike' method='POST' style="display: inline">
        <input type='hidden' name="route" value="/"/>
        <input type='submit' value="-"/>
      </form>
      <a href="/<%= idea.id %>/edit">Edit</a>
    </li>
  <% end %>
</ul>
