<h1>IdeaBox</h1>
<p>Idea: <%= idea.title %></p>
<p>Description: <%= idea.description %></p>
<p>ID: <%= idea.id %></p>
<p>Rank: <%= idea.rank %></p>

<form action='/<%= idea.id %>/like' method='POST' style="display: inline">
  <input type='submit' value="+"/>
  <input type='hidden' name="route" value="<%= idea.id %>/view"/>
</form>
<form action='/<%= idea.id %>/unlike' method='POST' style="display: inline">
  <input type='hidden' name="route" value="<%= idea.id %>/view"/>
  <input type='submit' value="-"/>
</form>
<form action="/<%= idea.id %>" method="POST" style="display: inline">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
<form id="/<%= idea.id %>/edit" action="index.html" method="post" style="display: inline">
  <input type="submit" value="edit"/>
</form><br/>

<a href="/">Home</a>
